<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB - 2</title>
    <!-- Other head elements -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/2-hbnb.js?{{ cache_id }}"></script>
    <link rel="stylesheet" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/3-header.css?{{ cache_id }}">
    <!-- Additional stylesheets -->
</head>
<body>
    <header>
        <h1>HBNB</h1>
        <div id="api_status" style="float: right; width: 40px; height: 40px; background-color: #cccccc; margin-right: 30px;"></div>
    </header>
    <!-- Body content including amenities list with checkboxes -->
    <section class="filters">
        <!-- Filter content -->
    </section>
    <section class="places">
        <!-- Placeholder for dynamically loaded places -->
    </section>
</body>
</html>
